In [87]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('sqlite:///Workspace/data/DisasterResponse.db')
df = pd.read_sql_table('tb_messages', engine)

In [101]:
df_treated = df.drop(['id', 'original', 'genre'],axis=1).melt(id_vars = 'message')
df_treated = pd.crosstab(df_treated.variable,df_treated.value).reset_index()
df_treated.drop([ 0], axis=1)

value                variable     1
0                 aid_centers    74
1                 aid_related  3938
2                   buildings   381
3                 child_alone     0
4                    clothing   100
5                        cold    59
6                       death   250
7               direct_report  3473
8                  earthquake   790
9                 electricity    66
10                       fire    38
11                     floods   283
12                       food  1523
13                  hospitals    53
14     infrastructure_related   313
15               medical_help   574
16           medical_products   342
17                   military    44
18             missing_people    83
19                      money   125
20                      offer    10
21                  other_aid  1460
22       other_infrastructure   178
23              other_weather   194
24                   refugees   167
25                    related  6643
26                    request  3614
27          search_and_rescue   206
28                   security   129
29                    shelter  1091
30                      shops    31
31                      storm   276
32                      tools    28
33                  transport   192
34                      water   791
35            weather_related  1447